<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="F_Social"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignInFunction"
        tools:targetApi="31">
        <activity
            android:name=".GroupEditActivity"
            android:exported="false" />
        <activity
            android:name=".GroupInfoActivity"
            android:exported="false" />
        <activity
            android:name=".GroupAddParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".GroupCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowListActivity"
            android:exported="false" />
        <activity
            android:name=".PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".OthersProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SearchUsersActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tunghq.fsocialmobileapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>